.material-ui-wrapper {
    padding-top: 3em;
    padding-bottom: 3em;

    .accordion-wrapper {
        .cta-btn {
            margin-top: 1.5em;
        }
    }

    .card-wrapper {
        margin-top: 3em;
    }
}